@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    display: flex;
  }
}

#navbar {
  width: 100%;
  background-color: brown;
  position: fixed;
  top: 0;
}

#navbar a {
  float: right;
  margin: 0 15px;
  padding-bottom: 15px;
  font-size: 1.8em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#navbar a:hover {
  color: rgb(10, 10, 12);
}

#navbar a:visited {
  text-decoration: none;
}
#welcome-section {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
  color: rgba(250, 250, 250, 250);
  background-color: rgba(50, 50, 50, 50);
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 5em;
}

#projects {
  width: 100%;
  background-color: rgba(94, 105, 168, 0.808);
  padding: 0;
  margin: 0;
}

#projects a {
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img {
  margin-bottom: 15px;
  float: left;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.project-tile {
  width: 46%;
  height: 48%;
  float: left;
  padding: 2%;
  background-color: rgba(94, 105, 168, 0.808);
}

#contact {
  width: 100%;
  justify-content: center;
  float: left;
  padding: 15px;
  background-color: rgba(96, 228, 140, 0.808);
}

#contact a {
  margin: 0 15px;
  padding-bottom: 15px;
  font-size: 1.8em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
